<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>javaee0125</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.oracle.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MobileAdd</display-name>
    <servlet-name>MobileAdd</servlet-name>
    <servlet-class>com.oracle.servlet.MobileAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MobileAdd</servlet-name>
    <url-pattern>/mobileadd.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChargeSet</display-name>
    <servlet-name>ChargeSet</servlet-name>
    <servlet-class>com.oracle.servlet.ChargeSet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChargeSet</servlet-name>
    <url-pattern>/chargeset.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChargeRuleAdd</display-name>
    <servlet-name>ChargeRuleAdd</servlet-name>
    <servlet-class>com.oracle.servlet.ChargeRuleAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChargeRuleAdd</servlet-name>
    <url-pattern>/chargeruleadd.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerAdd</display-name>
    <servlet-name>CustomerAdd</servlet-name>
    <servlet-class>com.oracle.servlet.CustomerAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerAdd</servlet-name>
    <url-pattern>/customeradd.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerAdd1</display-name>
    <servlet-name>CustomerAdd1</servlet-name>
    <servlet-class>com.oracle.servlet.CustomerAdd1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerAdd1</servlet-name>
    <url-pattern>/customeradd1.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserAdd</display-name>
    <servlet-name>UserAdd</servlet-name>
    <servlet-class>com.oracle.servlet.UserAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAdd</servlet-name>
    <url-pattern>/useradd.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.oracle.servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout.do</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>Login</display-name>
    <filter-name>Login</filter-name>
    <filter-class>com.oracle.filter.Login</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Login</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Login</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>Login</filter-name>
    <url-pattern>*.html</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>GetTel</display-name>
    <servlet-name>GetTel</servlet-name>
    <servlet-class>com.oracle.servlet.GetTel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetTel</servlet-name>
    <url-pattern>/gettel.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetFee</display-name>
    <servlet-name>GetFee</servlet-name>
    <servlet-class>com.oracle.servlet.GetFee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFee</servlet-name>
    <url-pattern>/getfee.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetChargeName</display-name>
    <servlet-name>GetChargeName</servlet-name>
    <servlet-class>com.oracle.servlet.GetChargeName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetChargeName</servlet-name>
    <url-pattern>/getchargename.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OperatorAdd</display-name>
    <servlet-name>OperatorAdd</servlet-name>
    <servlet-class>com.oracle.servlet.OperatorAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OperatorAdd</servlet-name>
    <url-pattern>/operatoradd.do</url-pattern>
  </servlet-mapping>
</web-app>